In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('entropy0.csv')
df.head()

    word l0 l1 l2 l3 l4               letters   entropy
0  aahed  a  a  h  e  d  {'e', 'a', 'd', 'h'}  0.003732
1  aalii  a  a  l  i  i       {'i', 'l', 'a'}  0.003732
2  aapas  a  a  p  a  s       {'s', 'a', 'p'}  0.003732
3  aargh  a  a  r  g  h  {'g', 'a', 'h', 'r'}  0.004530
4  aarti  a  a  r  t  i  {'i', 't', 'a', 'r'}  0.004530

In [14]:
word = "hello"
pattern = "x-xxo"

o_conditions = [df[f'l{i}'] == word[i] for i in range(5) if pattern[i] == 'o']
x_conditions = [word[i] not in df['letters'] for i in range(5) if pattern[i] == 'x']
other_conditions = [(word[i] in df['letters']) & (df[f'l{i}'] != word[i]) for i in range(5) if pattern[i] not in ['o', 'x']]

In [15]:
o_conditions

[True,
 True,
 True,
 True,
 0        False
 1        False
 2        False
 3        False
 4        False
          ...
 14850    False
 14851    False
 14852    False
 14853    False
 14854    False
 Name: l4, Length: 14855, dtype: bool]

In [13]:
x_conditions

[True, True, True]

In [10]:
other_conditions

[0        False
 1        False
 2        False
 3        False
 4        False
          ...
 14850    False
 14851    False
 14852    False
 14853    False
 14854    False
 Name: l1, Length: 14855, dtype: bool]

In [35]:
tmp_df = df.copy()
tmp_df.head()

    word l0 l1 l2 l3 l4               letters   entropy
0  aahed  a  a  h  e  d  {'e', 'a', 'd', 'h'}  0.003732
1  aalii  a  a  l  i  i       {'i', 'l', 'a'}  0.003732
2  aapas  a  a  p  a  s       {'s', 'a', 'p'}  0.003732
3  aargh  a  a  r  g  h  {'g', 'a', 'h', 'r'}  0.004530
4  aarti  a  a  r  t  i  {'i', 't', 'a', 'r'}  0.004530

In [50]:
(tmp_df['l0'] == word[0]).shape[0]

14855

In [45]:
pattern = "ooooo"
tmp_df.loc[
            tmp_df['l0'] == word[0] if pattern[0] == 'o' 
            else tmp_df['letters'].apply(lambda x: word[0] not in x)
            if pattern[0] == 'x' 
            else (tmp_df['letters'].apply(lambda x: word[0] in x)) & (word[0] != tmp_df['l0'])
            
        ].shape[0]

532

In [51]:
o_conditions = [df[f'l{i}'] == word[i] for i in range(5) if pattern[i] == 'o']
x_conditions = [df['letters'].apply(lambda x: word[i] not in x) for i in range(5) if pattern[i] == 'x']
other_conditions = [(df['letters'].apply(lambda x: word[0] in x)) & (df[f'l{i}'] != word[i]) for i in range(5) if pattern[i] not in ['o', 'x']]

In [52]:
query =

AttributeError: 'list' object has no attribute 'shape'